<header>
  <%= image_tag('home/image-header.png', alt: 'quarto com mesa e computador para estudar', class: 'image-header') %>

  <div class="box-header">
    <%= image_tag('home/aspas-img.png', alt: 'aspas') %>
    <div class="text-header">
      <p>
        Seja bem-vindo(a) ao <span>ClassCollab</span>, a plataforma que vai transformar a sua experiência acadêmica! 
        Conecte-se com colegas de classe, colabore em projetos educacionais e eleve sua produtividade a novos patamares.
      </p>
    </div>

    <div class="button-header">
      <div class="button-create">
        <%= link_to new_user_registration_path do %>
          Crie sua conta! <%= image_tag('home/seta.png', alt: 'seta') %>
        <% end %>
      </div>
      <div class="login-header">
        <p>Já possui uma conta? <%= link_to 'Faça login!', new_user_session_path %></p>
      </div>
    </div>
  </div>  
</header>

<section class="grid-cards">
  <div class="card-homepage">
    <%= image_tag('home/chapeu-formatura.png', alt: 'chapéu de formatura') %>
    <p class="title">Rede Social Acadêmica:</p>
    <p class="text">
      Faça parte de uma comunidade vibrante de estudantes dedicados. 
      Compartilhe ideias, dúvidas e conquistas em um ambiente estimulante.
    </p>
  </div>

  <div class="line"></div>

  <div class="card-homepage">
    <%= image_tag('home/calendario.png', alt: 'calendário') %>
    <p class="title">Organizador de Tarefas:</p>
    <p class="text">
         Mantenha-se no topo de suas responsabilidades acadêmicas. 
         O Organizador de Tarefas integrado ajuda você a gerenciar prazos, 
         compromissos e metas de estudo de maneira eficiente.
    </p>
  </div>

  <div class="line"></div>

  <div class="card-homepage">
    <%= image_tag('home/conexoes.png', alt: 'balões de conversa') %>
    <p class="title">Conexões Inteligentes:</p>
    <p class="text">
        Descubra colegas de classe com interesses similares e expanda sua rede acadêmica. 
        Desenvolva relações que vão além das salas de aula, potencializando oportunidades futuras.
    </p>
  </div>

  <div class="line"></div>

  <div class="card-homepage">
    <%= image_tag('home/personalizar.png', alt: 'engrenagem') %>
    <p class="title">Personalização Total:</p>
    <p class="text">
        Adapte o StudySphere ao seu estilo de aprendizagem. 
        Personalize seu perfil, escolha suas áreas de interesse e receba recomendações 
        personalizadas para aprimorar sua jornada educacional.
    </p>
  </div>
</section>