<!DOCTYPE html>
<html>
  <head>
    <title>ClassCollab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="assets/application.css">

    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <img class="logo" src="assets/home/logo.png" alt="logo classcollab">
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
